<!-- Welcome Section -->
<section id="welcome" class="full parallax welcome-section photo-section light-content parallax">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="content-wrapper preload">
      <div class="welcome-content">
        <div class="row overlay">
          <article>
            <%= image_tag "white1.png"%>
          </article>
        </div>
        <h2 class="col-xs-12 sub"> Rock star developers for your growing company </h2>
        <div class="box col-xs-12">
          <div class="white">
            <h1 class="special-box light-special">Clients</h1>  
          </div>
          <div class="orange">
            <h1 class="special-box light-special">Developers</h1>    
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of the Welcome Section -->

<!-- page-section:starts -->
<section id="about" class="about-section2 light-section dark-content"> 
    <h1 class="special-heading dark-special">About Us</h1>
          <h3 id="about-headline">We provide outstanding Ruby on Rails development. Period.</h3>
          <ul class="about-us-list">
            <li>Because we don't limit our geographical scope, we attract talent from around the globe.</li> 
            <li>We only hire people who have demonstrated their competence publicly on open source projects.</li> 
            <li>Because most of us are outside North America, we are extremely cost competitive.
          
          <li><strong>We offer a money-back guarantee.</strong> <a href="#contact">Contact us</a> to learn more.</p>
          <a href="#contact"><%= image_tag 'logo.png', size: "160" %></li>
          </ul>
        </div>
        
      </article>
  </div>

  <!-- <div class="wrapper">
    <div class="cultures clearfix">
      <img src="assets/img-6.jpg" class="leo">
      <img src="assets/office7.jpg" class="office">
      <img src="assets/img-6.jpg" class="todd">
      <img src="assets/office7.jpg" class="pair">
    </div>
  </div> -->
</section> 
<!-- page-section:ends -->



<!-- Testimonials Section -->
<section id="testimonials" class="parallax testimonials-section photo-section dark-section light-content">
  <div class="bg-overlay"></div>
  <div class="container">
    <h1 class="special-heading light-special">What our clients say</h1>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="quote-separator"></div>
        <div id="testimonials-rotator" class="testimonials-rotator">
          <div class="testimonial">
            <blockquote>
              <p>We consider Staunch Robots an extension of our in-house tech team here in San Francisco. They've integrated so seamlessly that I can assign tasks to any one on either side (ours or theirs) and know that I'll get the same consistent level of quality and detail across the board. They're that good. We also use SR to audit our internal codebase and ops systems on a regular basis.</p>
              <footer>Jason Lee, Serial CTO</footer>
            </blockquote>
          </div>
          <div class="testimonial">
            <blockquote>
              <p>I can strongly recommend working with Staunch Robots. Working with SR has greatly improved the quality of our team's work.Additionally their internal culture that has both complemented and improved our own. Ohh and their rates are super competitive.</p>
              <footer>Mike Lobel CTO, Mytennislessons.com</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Testimonials Section -->


<!-- Portfolio Section -->
<section id="portfolio" class="portfolio-section light-section dark-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="special-heading dark-special">Selected Work</h1>
      </div>
    </div>

    <div class="main">
      <ul id="og-grid" class="og-grid">
        <li class="portfolio-item visible-item" data-id="add-ons graphics">
          <a target="_blank" href="http://zooppa.com">
            <img src="assets/work1-big.png" alt="Breath - Vintage Text Styles"/>
            <div class="overlay-content">
              <h4>Zooppa</h4>
              <p><p>Provides a global market that crowdsources creative content for major brands</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="graphics">
          <a target="_blank" href="http://alivefulfillment.com">
            <img src="assets/work2-big.png" alt="Business Card Mockups - pack 2"/>
            <div class="overlay-content">
              <h4>Alive Fulfillment</h4>
              <p>Provides full service fulfillment and inventory management services</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="ui-design">
          <a target="_blank" href="http://luxdelux.com">
            <img src="assets/work3-big.png" alt="Whitepixels UI v1.1"/>
            <div class="overlay-content">
              <h4>Lux Delux</h4>
              <p>Offers a comprehensive guide and order processing for Las Vegas restaurants</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="graphics">
          <a target="_blank" href="http://mytennislessons.com">
            <img src="assets/work4-big.png" alt="Hardcover Book Mockups - mega pack"/>
            <div class="overlay-content">
              <h4>MyTennisLessons</h4>
              <p>Offers a comprehensive guide and booking system for tennis instructors and their customers</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="ui-design">
          <a target="_blank" href="http://alltherooms.com/">
            <img src="assets/work1-big.png" alt="CreamUI - mobile interface kit"/>
            <div class="overlay-content">
              <h4>AllTheRooms</h4>
              <p>Provides the world's largest accommodation search engine</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="web-design">
          <a target="_blank" href="http://verdacom.com" >
            <img src="assets/work2-big.png" alt="PlanusWP - One Page Wordpress Theme"/>
            <div class="overlay-content">
              <h4>Verdacom</h4>
              <p>Offers logistic solutions and online tools for clincical drug trials</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End of Portfolio Section -->

<!-- Team Section -->
<section id="team" class="team-section light-section dark-content">
  <div class="container">
    <h1 class="special-heading dark-special">Leadership Team</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="assets/todd.png" alt=""></figure>
            <div class="profile-overlay"></div>
            <div class="profile-social">
              <div class="icons-wrapper">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <h3><a href="#">Todd Morril</a></h3>
          <span>CEO Bot</span>
          <div class="team-bio">
            <p>Todd is the nicest boss in the world, and has the coffee cup to prove it. Todd likes to talk, so Derek <a href="/blog/?p=79">interviewed him</a> for our podcast about how he started Staunch Robots</a>. He lives in Medellin, Colombia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="assets/leonardo.png" alt=""></figure>
            <div class="profile-overlay"></div>
            <div class="profile-social">
              <div class="icons-wrapper">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <h3><a href="#">Leonardo Bighetti</a></h3>
          <span> Alpha Geek Bot</span>
          <div class="team-bio">
            <p>Leo is the most respected geek in the company. He earned his title with tough code reviews, brutal pull requests and not a few zombie kills. Leo is a constant voice for code craftsmanship at SR. He lives in Sao Paolo, Brazil.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="assets/derek.jpg" alt=""></figure>
            <div class="profile-overlay"></div>
            <div class="profile-social">
              <div class="icons-wrapper">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <h3><a href="#">Derek Scruggs</a></h3>
          <span>Service Delivery Bot</span>
          <div class="team-bio">
            <p>Derek's job is to make sure clients are happy with both our code and the processes by which we deliver it. He does this with <a href="/blog/?p=22">hyperfocused workflow management</a>, precise communications and a winning smile. He lives in Boulder, Colorado.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Team Section -->


<!-- Contact Section -->
<section id="contact" class="contact-section light-section dark-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="special-heading dark-special">Drop us a line</h1>
        <p class="section-description">Curious how we work? Where we work? Just want to say hi? Fill out the form below, or give us a call or &ndash; what the heck &ndash; why not <a href="https://twitter.com/intent/tweet?text=I wanna talk to @staunchrobots">Tweet at us</a>.</p>
        <div class="row contact-information">
          <div class="col-sm-4">
            <div class="contact-info clearfix">
              <i class="fa fa-map-marker"></i>
              <span><strong>Colombia</strong> <br />Calle 40f # 40a-21
                <br />Apto 201 <br /> Medellin - Antioquia</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="contact-info clearfix">
              <i class="fa fa-phone"></i>
              <span id="contact-info-phone">443-494-9228</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="contact-info clearfix">
              <i class="fa fa-map-marker"></i>
              <span><strong>USA</strong><br /> 959 W. Moorhead Circle<br />
                Apt #D
                <br />Boulder, CO 80305</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-form" class="row">

      <div class="col-md-8 col-md-offset-2">

        <div id="result"></div>

        <div class="row">
          <%= render 'layouts/error_messages', object: @message %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
        

        <form accept-charset="UTF-8" action="/" id="new_message" method="post" class="new_message contact-form">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-lg" name="message[name]" id="message_name" placeholder="Name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control input-lg" name="message[email]" id="message_email" placeholder="Email" requiered>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="10" name="message[body]" id="message_body" placeholder="Message" requiered></textarea>
          </div>
          <div class="form-group">
            <button id="submit_btn" type="submit" class="btn btn-outline btn-big">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End of Contact Section -->

<!-- Footer -->
<footer class="footer photo-section dark-section light-content">
  <div class="bg-overlay"></div>
  <div class="container">
    <p>©<%= Time.now.year %> StaunchRobots, LLC. All rights reserved.</p>
  </div>
</footer>

<script type="text/javascript">
adroll_adv_id = "EWZIPGTIO5BE3HGMDTCCGK";
adroll_pix_id = "5MAEJBCPDRGAJAB5Z7WK4V";
(function () {
var oldonload = window.onload;
window.onload = function(){
  __adroll_loaded=true;
  var scr = document.createElement("script");
  var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
  scr.setAttribute('async', 'true');
  scr.type = "text/javascript";
  scr.src = host + "/j/roundtrip.js";
  ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
  if(oldonload){oldonload()}};
}());
</script>