<!-- Welcome Section -->
<section id="welcome" class="full parallax welcome-section photo-section light-content parallax">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="content-wrapper preload">
      <div class="welcome-content">
        <div class="row overlay">
          <article>
            <%= image_tag "white1.png"%>
          </article>
        </div>
        <h2 class="col-xs-12 sub"> Rock star developers for your growing company </h2>
        <div class="box col-xs-12">
          <div class="white">
            <h1 class="special-box light-special">Clients</h1>  
          </div>
          <div class="orange">
            <h1 class="special-box light-special">Developers</h1>    
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of the Welcome Section -->

<!-- page-section:starts -->
<section id="about" class="about-section2 light-section dark-content"> 
  <div class="container">
    <h1 class="special-heading dark-special">About Us</h1>
    <div class="row add-top-half">
      <article class="col-xs-5">
        <div class="content">
          <p>Serving fast-growing North American companies, Staunch Robots provides staff augmentation, contract-to-hire and full lifecycle web app development.</p>
          <p>Because we don't limit our geographical scope, we attract talent from around the globe who want to work on high quality projects. The common demoninator is not where we live, but how serious we are about the craft of software development. We target people who have demonstrated through work for previous employers as well as open source projects that they will do whatever it takes to deliver a superior product. Not just because the boss expects it, but because <em>these things matter to us</em>.</p>
          <p>For product development, we combine US-based project management with passionate developers from places like Brazil, Colombia, Argentina, Spain and Eastern Europe. This allows us to offer first class product development at an extremely competitive price.</p>  
        </div>
        
      </article>
      <article class="text-left col-xs-7">
        <img src="assets/global_map.png">
        <!-- <div class="col-md-10 video">
          <iframe src="//fast.wistia.net/embed/iframe/nl1o78lq0c?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="400" height="225"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
        </div>
        <div class="col-md-10 text-center media">
          <h3 class="dark-special">Media atention</h3>
          <img src="assets/google.png">
          <img src="assets/skype.png">
          <img src="assets/twitter.png">
          <img src="assets/youtube.png">
          <img src="assets/linkedin.png">  
        </div> -->
        
      </article>
    </div>
  </div>

  <!-- <div class="wrapper">
    <div class="cultures clearfix">
      <img src="assets/img-6.jpg" class="leo">
      <img src="assets/office7.jpg" class="office">
      <img src="assets/img-6.jpg" class="todd">
      <img src="assets/office7.jpg" class="pair">
    </div>
  </div> -->
</section> 
<!-- page-section:ends -->



<!-- Testimonials Section -->
<section id="testimonials" class="parallax testimonials-section photo-section dark-section light-content">
  <div class="bg-overlay"></div>
  <div class="container">
    <h1 class="special-heading light-special">What our clients say</h1>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="quote-separator"></div>
        <div id="testimonials-rotator" class="testimonials-rotator">
          <div class="testimonial">
            <blockquote>
              <p>We consider Staunch Robots an extension of our in-house tech team here in San Francisco. They've integrated so seamlessly that I can assign tasks to any one on either side (ours or theirs) and know that I'll get the same consistent level of quality and detail across the board. They're that good. We also use SR to audit our internal codebase and ops systems on a regular basis.</p>
              <footer>Jason Lee, Serial CTO</footer>
            </blockquote>
          </div>
          <div class="testimonial">
            <blockquote>
              <p>I can strongly recommend working with Staunch Robots. Working with SR has greatly improved the quality of our team's work.Additionally their internal culture that has both complemented and improved our own. Ohh and their rates are super competitive.</p>
              <footer>Mike Lobel CTO, Mytennislessons.com</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Testimonials Section -->


<!-- Portfolio Section -->
<section id="portfolio" class="portfolio-section light-section dark-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="special-heading dark-special">Selected Work</h1>
      </div>
    </div>

    <div class="main">
      <ul id="og-grid" class="og-grid">
        <li class="portfolio-item visible-item" data-id="add-ons graphics">
          <a href="#" data-largesrc="assets/work1-big.png" data-category="Add-Ons Graphics" data-date="Apr 10th, 2014" data-title="Azuki bean" data-description="This is a pack of 10 Vintage text styles. You can use all these styles in web design or web apps but I've made them in 2 different sizes, so you can use those vintage text styles even on print materials. With this Vintage Text Styles pack you can design a logo, a title or any text in web or print materials.">
            <img src="assets/work1-big.png" alt="Breath - Vintage Text Styles"/>
            <div class="overlay-content">
              <h4>Breath - Vintage Text Styles</h4>
              <p>This is a pack of 10 Vintage text styles. You can use all these styles in web design or web apps but I've made them in 2 different sizes, so you can use those...</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="graphics">
          <a href="#" data-largesrc="assets/work2-big.png" data-category="Graphics" data-date="Apr 10th, 2014" data-title="Business Card Mockups - pack 2" data-description="<p>Now you can show your mousemade artwork to your clients with style. This is my second pack of Mockup Templates for your Business Cards or Business Card Templates. You can use this mockups pack to present your designs in a better artistic way. Also you can use these business cards mockups for your logo previews to show how the logo looks on a printed card.</p><p>The Mockups pack includes 4 Templates with very realistic perspective and photo effects.Features on this</p><h4>Features:</h4><ul><li>includes 4 PSD files very well organized</li><li>realistic photo effects</li><li>realistic perspective and depth of field</li><li>designs made with smart objects</li></ul>">
            <img src="assets/work2-big.png" alt="Business Card Mockups - pack 2"/>
            <div class="overlay-content">
              <h4>Business Card Mockups - pack 2</h4>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="ui-design">
          <a href="#" data-largesrc="assets/work3-big.png" data-category="UI Design" data-date="Apr 10th, 2014" data-title="Whitepixels UI v1.1" data-description="This is a great pack of premade graphics and web elements designed to help you create applications, great online services or websites. All elements are vector shapes so you can resize them without quality loss. The pack includes: buttons, knobs, forms, sliders, menu bar, switches, directional buttons, list selector, equalizer interface, timeline and a lot more. Every single element was designed with all my atention on details. I hope you'll like and recommend it.">
            <img src="assets/work3-big.png" alt="Whitepixels UI v1.1"/>
            <div class="overlay-content">
              <h4>Whitepixels UI v1.1</h4>
              <p>This is a great pack of premade graphics and web elements designed to help you create applications, great online services or websites. All elements are vector...</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="graphics">
          <a href="#" data-largesrc="assets/work4-big.png" data-category="Graphics" data-date="Apr 10th, 2014" data-title="Hardcover Book Mockups - mega pack" data-description="<p>If you are a writer, web designer or graphic designer and you need to showcase a book in minutes, this is the product you need. With just few clicks, your Hardcover book is prepared to be shown to the world with style. You only need to paste your title and graphics and your book is ready.</p><p>This Book Mockups pack contains 15 well-made and well-organized PSD files with transparent background. So you can easily save your book as png file and insert it on your design. Every file includes the wood background but you can still add your own. The Hardcover Book Mockups are made in hi-res so you can use them even on print materials.</p>">
            <img src="assets/work4-big.png" alt="Hardcover Book Mockups - mega pack"/>
            <div class="overlay-content">
              <h4>Hardcover Book Mockups - mega pack</h4>
              <p>If you are a writer, web designer or graphic designer and you need to showcase a book in minutes, this is the product you need. With just few clicks...</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="ui-design">
          <a href="#" data-largesrc="assets/work5-big.png" data-category="UI Design" data-date="Apr 10th, 2014" data-title="CreamUI - mobile interface kit" data-description="<p>This is a great mobile UI pack designed to help you create applications for iPhone and iPad with Retina screen. You can modify all graphics and styles just as you want, and use any of included elements: buttons, knobs, sliders, image thumbnails, progress bars, shelfs, forms, checkboxes, call-to-action buttons, audio and video player, switches and a lot more...</p><p>Every single button of this mobile UI pack is designed in 2 versions: normal and pressed. Also all graphics are vector. It means that you can resize every single element without losing quality.</p>">
            <img src="assets/work1-big.png" alt="CreamUI - mobile interface kit"/>
            <div class="overlay-content">
              <h4>CreamUI - mobile interface kit</h4>
              <p>This is a great mobile UI pack designed to help you create applications for iPhone and iPad with Retina screen. You can modify all graphics and styles just...</p>
            </div>
          </a>
        </li><li class="portfolio-item visible-item" data-id="web-design">
          <a href="#" data-largesrc="assets/work6-big.png" data-category="Web Design" data-date="Apr 10th, 2014" data-title="PlanusWP - One Page Wordpress Theme" data-description="<p>PlanusWP is a responsive one-page Wordpress theme built on Twitter Bootstrap 3 framework. PlanusWP theme is ment to present you as a designer or creative professional to the world. Moreover, this theme can be adapted to any kind of creative agency. This theme was built using the latest features from Bootstrap 3 so it's responsive (mobile first), flat and very nice animated.</p><p>The home page is very customizable as you can reorder the section using drag-and-drop technique. Also you can customize any feature due to the powerful custom admin options.</p><p>PlanusWP is a nice and simple theme allows you to create content and bring attention to it. You don't need to worry about contact plugin, as the contact form is stand-alone. Just add your email adress and all is done.</p>">
            <img src="assets/work2-big.png" alt="PlanusWP - One Page Wordpress Theme"/>
            <div class="overlay-content">
              <h4>PlanusWP - One Page Wordpress Theme</h4>
              <p>PlanusWP is a responsive one-page Wordpress theme built on Twitter Bootstrap 3 framework. PlanusWP theme is ment to present you as a designer or...</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End of Portfolio Section -->

<!-- Team Section -->
<section id="team" class="team-section light-section dark-content">
  <div class="container">
    <h1 class="special-heading dark-special">Leadership Team</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="assets/todd.png" alt=""></figure>
            <div class="profile-overlay"></div>
            <div class="profile-social">
              <div class="icons-wrapper">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <h3><a href="#">Todd Morril</a></h3>
          <span>CEO Bot</span>
          <div class="team-bio">
            <p>Todd is the nicest boss in the world, and has the coffee cup to prove it. Todd likes to talk, so Derek <a href="/blog/?p=79">interviewed him</a> for our podcast about how he started Staunch Robots</a>. He lives in Medellin, Colombia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="assets/leonardo.png" alt=""></figure>
            <div class="profile-overlay"></div>
            <div class="profile-social">
              <div class="icons-wrapper">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <h3><a href="#">Leonardo Bighetti</a></h3>
          <span> Alpha Geek Bot</span>
          <div class="team-bio">
            <p>Leo is the most respected geek in the company. He earned his title with tough code reviews, brutal pull requests and not a few zombie kills. Leo is a constant voice for code craftsmanship at SR. He lives in Sao Paolo, Brazil.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="assets/derek.jpg" alt=""></figure>
            <div class="profile-overlay"></div>
            <div class="profile-social">
              <div class="icons-wrapper">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <h3><a href="#">Derek Scruggs</a></h3>
          <span>Service Delivery Bot</span>
          <div class="team-bio">
            <p>Derek's job is to make sure clients are happy with both our code and the processes by which we deliver it. He does this with <a href="/blog/?p=22">hyperfocused workflow management</a>, precise communications and a winning smile. He lives in Boulder, Colorado.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Team Section -->


<!-- Contact Section -->
<section id="contact" class="contact-section light-section dark-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="special-heading dark-special">Drop us a line</h1>
        <p class="section-description">Curious how we work? Where we work? Just want to say hi? Fill out the form below, or give us a call or &ndash; what the heck &ndash; why not <a href="https://twitter.com/intent/tweet?text=I wanna talk to @staunchrobots">Tweet at us</a>.</p>
        <div class="row contact-information">
          <div class="col-sm-4">
            <div class="contact-info clearfix">
              <i class="fa fa-map-marker"></i>
              <span><strong>Colombia</strong> <br /> Street 40f # 40a-21, apto 201 <br /> Medellin - Antioquia</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="contact-info clearfix">
              <i class="fa fa-phone"></i>
              <span id="contact-info-phone">443-494-9228</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="contact-info clearfix">
              <i class="fa fa-map-marker"></i>
              <span><strong>USA</strong><br /> 959 W. Moorhead Circle #D Boulder, CO 80305</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-form" class="row">

      <div class="col-md-8 col-md-offset-2">

        <div id="result"></div>

        <div class="row">
          <%= render 'layouts/error_messages', object: @message %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
        

        <form accept-charset="UTF-8" action="/" id="new_message" method="post" class="new_message contact-form">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input-lg" name="message[name]" id="message_name" placeholder="Name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control input-lg" name="message[email]" id="message_email" placeholder="Email" requiered>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="10" name="message[body]" id="message_body" placeholder="Message" requiered></textarea>
          </div>
          <div class="form-group">
            <button id="submit_btn" type="submit" class="btn btn-outline btn-big">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End of Contact Section -->

<!-- Footer -->
<footer class="footer photo-section dark-section light-content">
  <div class="bg-overlay"></div>
  <div class="container">
    <p>©<%= Time.now.year %> StaunchRobots, LLC. All rights reserved.</p>
  </div>
</footer>

<script type="text/javascript">
adroll_adv_id = "EWZIPGTIO5BE3HGMDTCCGK";
adroll_pix_id = "5MAEJBCPDRGAJAB5Z7WK4V";
(function () {
var oldonload = window.onload;
window.onload = function(){
  __adroll_loaded=true;
  var scr = document.createElement("script");
  var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
  scr.setAttribute('async', 'true');
  scr.type = "text/javascript";
  scr.src = host + "/j/roundtrip.js";
  ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
  if(oldonload){oldonload()}};
}());
</script>