<%- if controller_name != 'sessions' %>
  <%= link_to "LogIn", login_path %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="contact-form col-md-6"> 
    <p>Not yet registered?</p>
    <%= link_to signup_path  do %>
      <button id="submit_btn" type="submit" class="btn btn-outline btn-big ">Sign Up</button>
    <% end %>
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<!-- <h2>Or</h2> </br>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>

    <% if "#{provider.to_s.titleize}" == 'Linkedin' %>
      <%= link_to image_tag("linkedin.png"), omniauth_authorize_path(resource_name, provider) %>
    <% else "#{provider.to_s.titleize}" == 'Google Oauth2'%>
      <%= link_to image_tag("google_log.png"), omniauth_authorize_path(resource_name, provider) %>
    <% end %>
  <% end -%>
<% end -%>
 -->