<div class="row">
  <div class="col-xs-6 col-md-offset-3">
    <%= form_for @cv, :html => { :class => "cv-form" } do |f| %>
      <%= render 'layouts/error_messages', object: f.object%>
      <% if current_user.role == 'admin' %>
        <div class="row">
          <div class="col-xs-12">
            <div class="field">
              <%= f.label :user_id, "Developer" %>
              <%= f.collection_select :user_id, @users, :id, :email,  {include_blank: true} %>
            </div>  
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :name, "Developer Name" %>
            <%= f.text_field :name %>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :contract_until %>
            <%= f.date_field :contract_until%>
          </div>  
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>  
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :profile %>
            <%= f.text_area :profile, size: "60x12" %>
          </div>  
        </div>
      </div>

      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
      </div>

      <h2>Recent Projects</h2>
      <ol class="projects-container">
        <%= f.nested_fields_for :projects, render_template: false, new_item_index: 'new_project_item' do |f| %>
          <%= render 'project_fields', f: f %>
        <% end %>
      </ol>
      <%= nested_fields_templates %>
      <a href="#" class="project-add">Add New Project</a>
      
      <h2> Experience </h2>
      <div id="experiences">
        <div class="items">
          <%= f.nested_fields_for :experiences do |e| %>
            <%= e.label :name %>
            <%= e.text_field :name %>

            <%= e.label :years %>
            <%= e.text_field :years %>

            <a href="#" class="remove">remove</a>

            <%= e.hidden_field :id %>
            <%= e.hidden_field :_destroy %>
          <% end %>
        </div>
        <a href="#" class="add">add Experience</a>
      </div>
      </b>
      <h2> Learning </h2>
      <div id="educations">
        <div class="items">
          <%= f.nested_fields_for :educations do |e| %>
            <%= e.label :title %>
            <%= e.text_field :title %>

            <%= e.label :institution %>
            <%= e.text_field :institution %>

            <a href="#" class="remove">remove</a>

            <%= e.hidden_field :id %>
            <%= e.hidden_field :_destroy %>
          <% end %>
        </div>
        <a href="#" class="add">add Learning</a>
      </div>
      </b>

      <h2>Religiously Following(separated by commas)</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.text_area :religiously_following %>
          </div>  
        </div>
      </div>

      <h2> Bookshelf (separated by commas)</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.text_area :bookshelf %>
          </div>  
        </div>
      </div>
      
      <h2> Toolbox (separated by commas) </h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.text_area :skills %>
          </div>
        </div>
      </div>
      </b>
      <h2> Languages </h2>
      <div id="languages">
        <div class="items">
          <%= f.nested_fields_for :languages do |l| %>
            <%= l.label :name %>
            <%= l.text_field :name %>

            <%= l.label :level %>
            <%= l.text_field :level %>

            <a href="#" class="remove">remove</a>

            <%= l.hidden_field :id %>
            <%= l.hidden_field :_destroy %>
          <% end %>
        </div>
        <a href="#" class="add">add Language</a>
      </div>
      </b>
      <h2> Code Samples </h2>
      <div id="code_samples">
        <div class="items">
          <%= f.nested_fields_for :code_samples do |c| %>
            <%= c.label :name %>
            <%= c.text_field :name %>

            <%= c.label :github_url %>
            <%= c.text_field :github_url %>

            <a href="#" class="remove">remove</a>

            <%= c.hidden_field :id %>
            <%= c.hidden_field :_destroy %>
          <% end %>
        </div>
        <a href="#" class="add">add Code Sample</a>
      </div>

      <!-- <h2> Good Practices and Skills </h2>
      <div id="good_practices">
        <div class="items">
          <%= f.nested_fields_for :good_practices do |c| %>
            <%= c.label :practice %>
            <%= c.text_field :practice %>

            <%= c.label :description %>
            <%= c.text_area :description %>

            <a href="#" class="remove">remove</a>

            <%= c.hidden_field :id %>
            <%= c.hidden_field :_destroy %>
          <% end %>
        </div>
        <a href="#" class="add">add Practice or Skill</a>
      </div> -->
      
      </b>
      <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>