<div class="row">
  <div class="col-xs-6 col-md-offset-3">
    <%= simple_form_for(@cv) do |f| %>
      <%= render 'layouts/error_messages', object: f.object%>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.input :name, required: false%>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.input :profile, as: :text, rows: 10, required: false %>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.input :title, required: false %>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.input :stackoverflow_reputation, required: false %>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.input :blog, required: false %>
          </div>  
        </div>
      </div>
      <div class="field">
        <%= f.input_field :avatar %>
      </div>
      <div class="actions">
        <%= f.button :submit, 'Create', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>