<div class="developer">
  <section class="container">
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div id="modal-thanks" class="modal fade" role="dialog" aria-labelledby="myModalLabels" aria-hidden="true"></div>
    <div class="col-xs-12">
      <div class="dev-cards">
        <% @cvs.each do |cv| %>
          <div class="dev-card">
            <div class="dev-avatar col-xs-3">
              <% if cv.avatar? %>
                <%= image_tag cv.avatar.url %>
              <% else %>
                <%= image_tag 'logo.png' %>
              <% end %>
            </div>
            <div class="side-text col-xs-7">
              <h2><%= cv.name %></h2> 
              <div class="stars row">
                <h4> Ruby  
                <% 3.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4> 
                <h4> JavaScript  
                <% 2.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4>
                <h4> Devops  
                <% 3.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4> 
              </div>
              <p> <%= cv.profile[0, 180] %>...</p>
              <div class="dev-buttons">
                <button type="button" class="btn btn-primary"> Code Samples </button>
                <button type="button" class="btn btn-primary"> Work Experience </button>
                <%= link_to "Full Profile", cv_path(cv.name), :class => "btn btn-primary "%>
              </div>
            </div>
            <div class="interview col-xs-2">
              <% if cv.contract_until.to_s < Time.now.strftime('%Y-%m-%d') %> 
                <%= image_tag 'available.png' %>
                <%= link_to interview_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do %>
                  <button type="button" class="btn btn-warning"> Interview </button>
                <% end %>
                
              <% else %>
                <%= image_tag 'on-assginment.png' %>
                <p>Until: <%= cv.contract_until %></p>
                <button type="button" class="btn btn-primary"> Interview </button>                
              <% end %>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <% if current_user.admin %>
      <%= link_to 'New Cv', new_cv_path %>
    <% end %>
  </section>  
</div>
