<div class="developer">
  <section class="container">
    <div class="col-xs-12">
      <div class="dev-cards">
        <% @cvs.each do |cv| %>
          <div class="dev-card">
            <%= image_tag cv.avatar.url if cv.avatar? %>
            <div class="side-text">
              <h2><%= cv.name %></h2> 
              <div class="stars row">
                <h4> Ruby  
                <% 3.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4> 
                <h4> Javascript  
                <% 2.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4>
                <h4> Devop  
                <% 3.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4> 
              </div>
              <p> <%= cv.profile %></p>
              <div class="dev-buttons">
                <button type="button" class="btn btn-primary"> Code Samples </button>
                <button type="button" class="btn btn-primary"> Work Experience </button>
                <%= link_to "Full Profile", cv_path(cv.name), :class => "btn btn-primary "%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <% if current_user.admin %>
      <%= link_to 'New Cv', new_cv_path %>
    <% end %>
  </section>  
</div>
