<div class="developer">
  <section class="container">
    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div id="modal-thanks" class="modal fade" role="dialog" aria-labelledby="myModalLabels" aria-hidden="true"></div>
    <div class="col-xs-12">
      <div class="dev-cards">
        <% @cvs.each do |cv| %>
          <div class="dev-card">
            <div class="dev-avatar col-xs-3">
              <% if cv.avatar? %>
                <%= image_tag cv.avatar.url %>
              <% else %>
                <%= image_tag 'logo.png' %>
              <% end %>
            </div>
            <div class="side-text col-xs-7">
              <h2><%= cv.name %></h2> 
              <div class="stars row">
                <h4> Ruby  
                <% 3.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4> 
                <h4> JavaScript  
                <% 2.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4>
                <h4> Devops  
                <% 3.times do %>
                  <i class="fa fa-star" ></i>
                <% end %>
                </h4> 
              </div>
              <p> <%= cv.profile[0, 180] %>...</p>
              <div class="dev-buttons">
                <%= link_to "Full Profile", cv_path(cv.name), :class => "btn btn-primary "%>
              </div>
            </div>
            <div class="interview col-xs-2">
              <%if current_user.role == 'admin' %>
                <div class="col-xs-12">
                  <%= link_to cv, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-destroy" do %>
                    <i class="fa fa-close"></i>
                  <% end %>
                </div>
              <% end %>
              <% if cv.contract_until.to_s <= Time.now.strftime('%Y-%m-%d') or cv.contract_until.nil?  %> 
                <%= image_tag 'available.png' %>
                <%= link_to interview_path(cv.name),  {class: "interview-link", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'data-dev' => "#{cv.name}"} do %>
                  <button type="button" class="btn btn-warning"> Interview </button>
                <% end %>
                
              <% elsif (cv.contract_until - Time.now.to_date).to_i <= 30 %>
                <h2 class="days_30">Within 30 days</h2>
                <button type="button" class="btn btn-primary"> Interview </button>
              <% elsif (cv.contract_until - Time.now.to_date).to_i <= 60 %>
                <h2 class="days_60">Within 30-60 days</h2>
                <button type="button" class="btn btn-primary"> Interview </button>
              <% else %>
                <%= image_tag 'on-assginment.png' %>
                <%= link_to interview_path(cv.name),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'data-dev' => "#{cv.name}"} do %>
                  <button type="button" class="btn btn-primary"> Interview </button>                
                <% end %>
                
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>  
</div>
