<div class="navbar navbar2 minified darken-menu">
  <div class="container">
    <div class="navbar-collapse collapse navbar-right">
      <button type="button" class="orange">Hire/ Interview</button>
      <button type="button" class="orange">Browse Devs</button>
    </div>
  </div>
  
</div>
<div class="developer">
  <div class="container">

    <div class="row-fluid">
      <div class="col-xs-8 leftPart">
        <div class="name">
          <h1> <%=raw @cv.name %> </h1>
        </div>
        <div class="profile">
          <h1> <i class="fa fa-user"></i> Profile</h1>
          <p>
            <%=raw @cv.profile %>
          </p>
        </div>
        <div class="projects">
          <h1> <i class="fa fa-book" ></i> Recent Work Experience </h1>
          <ul>
            <% @cv.projects.each do |project| %>
              <h3 > <%= raw project.name %> (<a target="_blank" href="http://<%= project.url %>"><%= project.url %></a>) </h3> 
              <%= raw project.description %>
              <ul class="projectInteresting">
                <% project.project_interest_points.each do |interest_point| %>
                  <li>
                    <%= interest_point.content %>
                  </li>  
                <% end %>    
              </ul>
            <% end %>
          </ul>
        </div>
      </div>
      
      <div class="col-xs-4 rightPart">
        <aside>
          <div class="photo">
            <p>
              <%= image_tag @cv.avatar.url if @cv.avatar? %>
            </p>
          </div>
          <div class="title">
            <p>
              <%=raw @cv.title %>
            </p>
          </div>
          <div class="experiences">
            <% if @cv.experiences.any? %>
              <ul >
                <% @cv.experiences.each do |experience| %>
                  <p> <%= experience.years %>+ years <%= raw experience.name %> experience</p> 
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="col-xs-12 skill">
            <h1> <i class="fa fa-wrench" ></i> Toolbox </h1>
            <ul>
              <% @cv.skills.each do |skill| %>
                <p> <%= raw skill.name %>, </p>
              <% end %>    
            </ul>
          </div>
          <div class="col-xs-12 education">
            <% if @cv.educations.any? %>
              <h1> <i class="fa fa-university" ></i> Learning</h1>
              <ul >
                <% @cv.educations.each do |education| %>
                  <h3> <%= education.title %>  </h3>
                  <p> <%= raw education.institution %> </p>  
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="col-xs-12 language">
            <% if @cv.languages.any? %>
              <h1> <i class="fa fa-comments" ></i> Languages</h1>
              <ul >
                <% @cv.languages.each do |language| %>
                  <p class="lg"> <%= language.name %> </p>
                  <% for i in 1..(language.level - 1) %>
                    <p></p>
                  <%end %>

                <% end %>
              </ul>
            <% end %>
          </div>

          <div class="col-xs-12 codeSample">
            <% if @cv.code_samples.any? %>
              <h1> Code Samples</h1>
              <ul >
                <% @cv.code_samples.each do |code_sample| %>
                  <p> <%= code_sample.name %>:  </p>
                  <a> <%= raw code_sample.github_url %> </a>  
                <% end %>
              </ul>
            <% end %>
          </div>

          <div class="col-xs-12 logo">
            <%= image_tag 'logo.png'%>
          </div> 
        </aside>
      </div>

    </div>
  </div>
  <%= link_to 'Edit', edit_cv_path(@cv) %> |
  <%= link_to 'Back', cvs_path %>

      
  
</div>
