<section class="contact-section light-section dark-content">
  <div class="container">
    <h2>Log in</h2>

    <div class="row">
      <%= render 'layouts/error_messages', object: @user %>
      <% flash.each do |key, value| %>
        <div class="alert alert-info alert-dismissible">
          <div class="alert-text">
              <%= value %>
            </div>
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>

    <div id="contact-form" class="row">

      <div class="col-md-8 col-md-offset-2">

        <div id="result"></div>

        <form accept-charset="UTF-8" action="/users/sign_in" id="new_user" method="post" class="new_user contact-form">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="email" class="form-control input-lg" name="user[email]" id="user_email" placeholder="Email" required>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="password" class="form-control input-lg" name="user[password]" id="user_password" placeholder="Password" requiered>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 forgot text-left">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
          <div class="form-group log-btn col-md-8 col-md-offset-2">
            <button id="submit_btn" type="submit" class="btn btn-outline btn-big ">LogIn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</section>
