<!DOCTYPE html>
<html>
<head>
  <title>Staunch Robots</title>
  <link rel="canonical" href="http://www.staunchrobots.com" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,600,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#my-nav">

  <div class="et-wrapper" >
    
    <% if current_page?('/') %>
      <div class="navbar navbar1 navbar-fixed-top darken-menu">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img class="logo" src="assets/white1.png" alt=""></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <nav id="my-nav" class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav navbar-nav-home">
              <li class="active"><a href="#welcome">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#team">Leadership</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="/blog/">Blog</a></li>
              <% if !current_user %> 
                <li><a href="/login">Sign In</a></li>
              <% else %>
                <li>
                <%= link_to logout_path, method: "delete" do %>
                  Sign Out
                <% end %>
              </li>
              <% end %>
            </ul>
          </nav><!--/.navbar-collapse -->

        </div>
      </div>
      <!-- End of Navigation Bar -->
    <% else %>
      <div class="navbar minified darken-menu">
        <div class="container">
          <div class="navbar-header">
            <%= link_to image_tag("white1.png"), root_url, :class => "navbar-brand" %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <nav id="my-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ><a href="/">Home</a></li>
              <% if !current_user %> 
                <li><a href="/login">Sign In</a></li>
              <% else %>
                <li>
                <%= link_to logout_path, method: "delete" do %>
                  Sign Out
                <% end %>
              </li>
              <% end %>
              <li><a href="/blog/">Blog</a></li>
            </ul>
          </nav><!--/.navbar-collapse -->
        </div>
      </div>
    <% end %>

    <!-- <div class="container">
      <div class="small-12 columns">
        <ul class="alertList">
          <% flash.each do |key, value| %>
            <div class="alert alert-info alert-dismissible">
              <div class="alert-text">
                <%= value %>
              </div>
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </ul>
      </div>
    </div>    -->
    
    <%= yield %>
  </div>
  
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/jquery.textrotator.min.js"></script>
  <script src="assets/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/jquery.nicescroll.min.js"></script>
  
</body>
</html>
