<!DOCTYPE html>
<html>
<head>
  <title>Staunch Robots</title>
  <link rel="canonical" href="http://www.staunchrobots.com" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,600,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/bootflat.css">

  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true" class="developers">

  <div class="navbar minified darken-menu">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag("white1.png"), root_url, :class => "navbar-brand" %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav id="my-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ><a href="/">Home</a></li>
          <% if current_user.role == 'admin' %>
            <li><a href="/users_admin/new">New User</a></li>
          <% end %>
          <% if !current_user %> 
            <li><a href="/login">Sign In</a></li>
          <% else %>
            <li><a href="/profiles">Browse Profiles</a></li>
            <li>
              <%= link_to logout_path, method: "delete" do %>
                Sign Out
              <% end %>
            </li>
          <% end %>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav><!--/.navbar-collapse -->
    </div>
  </div>
  
  <div class="row">
    <% flash.each do |key, value| %>
      <div class="alert alert-info alert-dismissible">
        <div class="alert-text">
            <%= value %>
          </div>
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% end %>
  </div>

  <div id="cvs">
    <%= yield %>  
  </div>
  
  
</body>
</html>
